<p-panel header="Pipes numéricos" class="p-2">
  <h1>Pipe Básicos</h1>
  <p>
    Pipes incluídos en Angular - Usualmente en el Common Module
  </p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="Ventas Netas" subheader="del presenta año">
      {{(totalSells + 1234221) | number:'1.2-2'}}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Ventas Brutas" subheader="del presenta año">
      {{totalSells | currency:'BTC':'symbol-narrow':'1.6-6'}}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Ganancias porcentual" subheader="del presenta año">
      {{percent | percent: '1.2-2'}}
    </p-card>
  </div>
</div>
